* {
   font-family: Markazi Text,Karla,serif;
}

.laptop-navbar {
   display: grid;
   grid-template-columns: repeat(7, 1fr);
}

.mobile-navbar {
   display: grid;
   padding-inline-start: 0px;
   margin-left: 0px;
}

.navbar-button {
   padding: 8px;
   text-align: center;
   text-decoration: none;
   color: black;
}

.navbar-button:hover {
   background-color: #f4ce14;
   color: black;
}

.logoImage{
   margin-left: -1.25rem;
   margin-top: 0.7rem;
   max-height: 4rem;
   padding-right: 10px;
}

.hamburger-nav{
   display: grid;
   grid-template-columns: 1fr 6fr;
   padding: 2.5rem;
}

.hamburger-button {
   float: right;
   grid-column: 7;
   background-color: #fff;
   border: none;
}

@media (min-width: 800px) {
   .laptop-navbar {
      display: grid;
   }

   .mobile-navbar {
      display: none
   }

   .hamburger-nav {
      display: none;
   }
}

@media (max-width: 799px) {
   .laptop-navbar {
      display: none;
   }

   .mobile-navbar {
      display: grid
   }

   .hamburger-nav {
      display: grid;
   }
}

a:visited,
Link:visited,
a:link,
Link:link {
   text-decoration: none;
   color: black;
   text-align: center;
}

.jumbotron {
   background-color: #495e57;
   color: #fff;
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding: 2rem 6rem;
}

.imgSection-header > img{
   height: 100%;
   width: 100%;
   object-fit: cover;
}

.imgSection-header {
   max-height: 20rem;
}

.textSection-header > h1{
   font-size: 3rem;
   margin-bottom: -2rem;
   margin-top: 0;
}

.textSection-header > h3{
   font-size: 2.5rem;
}

.textSection-header > p{
   margin-top: -2rem;
}

.textSection-header > a > button{
   background-color: #f4ce14;
   font-size: 2rem;
   padding: 0.5rem 1rem;
   border-radius: 5px;
}